:root {
  --pageContentWidth: 632px;
  --mainPadding: calc((100% - var(--pageContentWidth)) / 2);

  --black: #333;
  --hoverColor: #6cd48f;
  --primaryColor: #6abd9d;
  --visitedColor: #b984c8;
  --visitedHoverColor: #ce8fe0;
}

body {
  color: var(--black);
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica,
    sans-serif;
  font-size: 1.2em;
  line-height: 1.6em;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  margin-top: 2.4rem;
}

h1 {
  font-size: 2em;
}

blockquote {
  border-left: 2px solid var(--black);
  font-style: italic;
  font-weight: 300;
  margin: 2em 0;
  padding: 0 2em;
}

article,
main {
  margin-bottom: 2em;
}

article a {
  color: var(--primaryColor);
  text-decoration: none;
}
article a:hover {
  color: var(--hoverColor);
  text-decoration: none;
}
article a:visited {
  color: var(--visitedColor);
}
article a:visited:hover {
  color: var(--visitedHoverColor);
}

article li {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

pre {
  border-radius: 8px;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 632px) {
  .container {
    padding-left: var(--mainPadding);
    padding-right: var(--mainPadding);
  }
}

.blog-image {
  display: block;

  width: 100%;
}

time {
  color: #aaa;
  font-size: 0.8em;
}
