.footer {
  text-align: center;
}
@media (min-width: 620px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footerMeta {
  font-size: 13px;
  color: var(--black);
}
.footerMeta a {
  display: inline-block;

  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s, transform 0.2s;
}
.footerMeta a:hover {
  border-bottom: 2px solid var(--primaryColor);
  color: var(--primaryColor);
  transform: translate(0, -2px);
}

.footer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0; /* Remove `ul` default left padding */
}
.footer li {
  display: flex;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s, transform 0.2s;
}
.footer a {
  color: var(--black);
  padding: 6px 8px;
  text-decoration: none;
  font-size: 13px;
}
.footer li a.twitter {
  line-height: 0;
}
.footer li a path {
  fill: var(--black);
}

.footer li:hover {
  border-bottom: 2px solid var(--primaryColor);
  transform: translate(0, -2px);
}
.footer li:hover a {
  color: var(--primaryColor);
}
.footer li:hover a path {
  fill: var(--primaryColor);
}
