:root {
  --pageContentWidth: 880px;
  --mainPadding: calc((100% - var(--pageContentWidth)) / 2);

  --black: #333;
  --hoverColor: #6cd48f;
  --primaryColor: #6abd9d;
  /* --visitedColor: #f06ea3; */
  --visitedColor: #b984c8;
}

body {
  color: var(--black);
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica,
    sans-serif;
  margin: 0;
}

h2 {
  margin-top: 1.6em;
}

p {
  line-height: 1.5;
}

a {
  color: var(--primaryColor);
  text-decoration: none;
}
a:hover {
  color: var(--hoverColor);
  text-decoration: none;
}
a:visited {
  color: var(--visitedColor);
}

:global(.container) {
  padding: 0 16px;
}
@media (min-width: 900px) {
  :global(.container) {
    padding: 0 var(--mainPadding);
  }
}

:global(.blog-content) {
  padding-bottom: 40px;
  padding-top: 40px;
}
:global(.blog-content) img {
  display: block;
  margin: 0 auto;
  width: 50%;
}
:global(.blog-content) li {
  line-height: 1.5;
  margin-left: 2em;
  margin-top: 1em;
}
:global(.blog-content) li:first-child {
  margin-top: 2em;
}
