.hero {
  display: flex;
  justify-content: center;
  pointer-events: auto;

  color: var(--black);
}

.greeting {
  margin: 40px 0;
  line-height: 1.1;
  font-size: 48px;
}
@media (min-width: 632px) {
  .greeting {
    margin: 80px 0;
    font-size: 64px;
  }
}

.link {
  color: var(--primaryColor);
}
.greeting a {
  text-decoration: none;
}
