.keyartLayer {
	height: 500px;
	background-position: bottom center;
	background-size: auto 519px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
	pointer-events: none;
}

@media (min-width: 632px) {
	.keyartLayer {
		height: 1000px;
		background-size: auto 1038px;
	}
	.keyartLayer.parallax {
		position: fixed;
	}
}
