.keyartLayer {
	height: 1000px;
}
.keyartLayer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
  pointer-events: none;
}
.keyartLayer.parallax {
	position: fixed;
}
