@media (min-width: 620px) {
  .nav {
    display: flex;
    justify-content: space-between;
  }
}

.nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0; /* Remove `ul` default left padding */
}
.nav li {
  display: flex;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s, transform 0.2s;
}
.nav li:hover {
  border-bottom: 2px solid var(--primaryColor);
  transform: translate(0, -2px);
}
.nav li:hover a {
  color: var(--primaryColor);
}
.nav a,
.nav a:visited {
  color: var(--black);
  padding: 6px 8px;
  text-decoration: none;
  font-size: 13px;
}

.siteLogo {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 16px;

  cursor: pointer;
}
@media (min-width: 620px) {
  .siteLogo {
    justify-content: left;

    margin-top: 0;
  }
}

.siteLogo > * {
  margin-right: 16px;
}

.siteLogo > .img {
  height: 32px;
  transition: rotate 0.2s, transform 0.2s;
}

.siteLogo:hover > .img {
  transform: rotate(5deg) scale(1.2);
}

.siteLogo span {
  white-space: nowrap;
}
