@media (min-width: 632px) {
  .nav {
    display: flex;
    justify-content: space-between;
  }
}

.nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0; /* Remove `ul` default left padding */
}
.nav li {
  display: flex;
  transition: transform 0.2s;
}
.nav li:hover {
  transform: translate(0, -2px);
}
.nav li:hover a {
  color: var(--primaryColor);
}
.nav li:hover a {
  color: var(--primaryColor);
}
.nav a,
.siteLogo {
  color: var(--black);
  padding: 0 8px;
  text-decoration: none;
  font-size: 13px;
}

.siteLogo {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 16px;

  cursor: pointer;
}
@media (min-width: 632px) {
  .siteLogo {
    justify-content: left;

    margin-top: 0;
  }
}

.siteLogo > * {
  margin-left: 6px;
  margin-right: 12px;
}

.siteLogo > div {
  height: 32px;
  transition: rotate 0.2s, transform 0.2s;
}

.siteLogo:hover > div {
  transform: rotate(5deg) scale(1.2);
}

.siteLogo span {
  white-space: nowrap;
}
