.keyart {
	height: 500px;
	position: relative;
	z-index: 100;
	overflow: hidden;
}

.hero {
  margin-top: 80px;
}

@media (min-width: 632px) {
  .keyart {
    height: 1000px;
  }
  .hero {
    margin-top: 200px;
  }
}
