.stack {
  position: absolute;
  width: 100%;
  height: 280px;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
@media (min-width: 632px) {
  .stack {
    width: auto;
  }
}

.photo {
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center center !important;
  cursor: grab;
  width: 45vh;
  max-width: 320px;
  height: 240px;
  will-change: transform;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
