.card {
  --card-spacing: 16px;

  background: var(--white);
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  line-height: normal;
  text-decoration: none;
  transition: box-shadow 0.2s, transform 0.2s;
  overflow: hidden;
}

.card .body {
  padding: var(--card-spacing);
}

.card .img {
  width: 100%;
}

.card .arrow {
  display: inline-block;
  opacity: 0;
  transform: translate(-8px, 0px);
  transition: opacity 0.2s, transform 0.2s;
}

.card h3 {
  color: var(--black);
  font-size: 18px;
  margin: 0;
  margin-bottom: 4px;
}

.card p {
  color: var(--black);
  font-size: 13px;
  margin: 0;
}

/* Card (and children) hover styles */
.card:hover {
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}

.card:hover .arrow {
  opacity: 1;
  transform: translate(0, 0);
}

.card:hover h3 {
  color: var(--primaryColor);
}
