.main {
  background: #f7f7f7;

  padding-bottom: 80px;
  padding-top: 80px;
}

.main img {
  border-radius: 8px;
  width: 100%;
  height: 192px;
  object-fit: cover;

  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
@media (min-width: 620px) {
  .main img {
    width: 320px;
  }
}

.main a {
  color: var(--primaryColor);
  text-decoration: none;
}
