.pageContainer {
  overscroll-behavior-y: contain;
  overflow: hidden;
}

.photoStackContainer {
  position: relative;

  height: 320px;
  width: 100%;
}
@media (min-width: 632px) {
  .photoStackContainer {
    margin: 40px 0;
    height: 400px;
  }
}
