.pageContainer {
  overscroll-behavior-y: contain;
  overflow: hidden;
}

.photoStackContainer {
  position: relative;

  height: 280px;
  width: 100%;
}
@media (min-width: 632px) {
  .photoStackContainer {
    width: auto;
  }
}
