.pageContainer {
  overscroll-behavior-y: contain;
  overflow: hidden;
}

.photoStackContainer {
  position: relative;

  height: 280px;
  width: 100%;
}
@media (min-width: 632px) {
  .photoStackContainer {
    width: auto;
  }
}

.bookContainer {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
}
@media (min-width: 632px) {
  .bookContainer {
    gap: 24px;
    grid-template-columns: 1fr 1fr;
  }
}
