.button {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;

  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.button:active {
  color: #fff;
  background-color: #0053ac;
  border-color: #0051a8;
}

.button:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  outline: 0;
}

.button:not(:disabled):not(.disabled) {
  cursor: pointer;
}
