.gif-index {
  display: flex;
  flex-wrap: wrap;
}
.gif-index img {
  flex: 1;
  object-fit: cover;
  cursor: pointer;
}
.gif-index img:hover {
  -webkit-filter: brightness(1.3);
  filter: brightness(1.3);
}
@media screen and (max-width: 640px) {
  .gif-index,
  .gif-index img {
    display: block;
    width: 100%;
  }
}
