.gifIndex {
  display: flex;
  flex-wrap: wrap;
}
.gifIndex img {
  flex: 1;
  object-fit: cover;
  cursor: pointer;
}
.gifIndex img:hover {
  -webkit-filter: brightness(1.3);
  filter: brightness(1.3);
}
@media screen and (max-width: 640px) {
  .gifIndex, .gifIndex img {
    display: block;
    width: 100%;
  }
}
