.hero {
  background-color: var(--primaryColor);
  color: #333;
}

.greeting {
  margin: 0;
  width: 100%;
  padding: 80px 0;
  line-height: 1.1;
  font-size: 32px;
}
@media (min-width: 620px) {
  .greeting {
    font-size: 64px;
  }
}

.greeting span {
  color: #fff;
}

.row {
  padding-top: 16px;
  padding-bottom: 16px;

  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  background: #f7f7f7;
}

@media (min-width: 620px) {
  .row {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .row {
    padding-top: 80px;
    padding-bottom: 80px;

    gap: 24px;

    grid-template-columns: 1fr 1fr 1fr;
  }
}
