.hero {
  background-color: var(--primaryColor);
  color: var(--black);
}

.greeting {
  margin: 0;
  width: 100%;
  padding: 80px 0;
  line-height: 1.1;
  font-size: 32px;
}
@media (min-width: 632px) {
  .greeting {
    font-size: 64px;
    text-align: center;
  }
}

.greeting span {
  color: #fff;
}

.grid {
  padding-top: 16px;
  padding-bottom: 16px;

  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  background: #f7f7f7;
}

@media (min-width: 632px) {
  .grid {
    padding-top: 80px;
    padding-bottom: 80px;

    gap: 24px;

    grid-template-columns: 1fr 1fr;
  }
}
