.nav {
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 200;
}
.nav a,
.nav span {
  color: var(--primaryColor);
}

/* Accomodate for the absolutely positioned hero. */
.container {
  background: var(--white);
  padding-top: 2.4rem;
  position: relative;
  z-index: 200;
}

.activityHeading {
  margin-top: 0;
}

.projectContainer {
  margin-top: 80px;

  /* Accomodate for the absolutely positioned hero. */
  position: relative;
  z-index: 200;
}

.cardContainer {
  margin-bottom: 16px;

  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
@media (min-width: 632px) {
  .cardContainer {
    margin-bottom: 80px;

    gap: 24px;

    grid-template-columns: 1fr 1fr;
  }
}
